<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    description="Clever PowerQuery Support" name="GDM - Clever Support (PQ)" 
    version="22.08.08.02"
    xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
    <publisher name="Gregory Matyola">
        <contact email="greg.matyola@hanovertwpschools.org"/>
    </publisher>
</plugin>
